---
apiVersion: v1
kind: Secret
metadata:
  name: petstore-config
type: Opaque
data:
  DB_URL: e1JFUExBQ0VfV0lUSF9EQl9VUkx9Cg==
  DB_HOST: e1JFUExBQ0VfV0lUSF9EQl9IT1NUfQo=
  DB_PORT: NTQzMg==
  DB_NAME: cGV0c3RvcmU=
  DB_USER: cGV0c3RvcmU=
  DB_PASS: cGV0c3RvcmU=
  
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: petstore
  labels:
    app: petstore
spec:
  replicas: 2
  selector:
    matchLabels:
      app: petstore
  template:
    metadata:
      labels:
        app: petstore
    spec:
      containers:
      - name: petstore
        image: christopherhein/petstore:latest
        ports:
        - name: http-server
          containerPort: 8080
        - name: wildfly-cord
          containerPort: 9990
        env:
        - name: DB_URL
          valueFrom:
            secretKeyRef:
              name: petstore-config
              key: DB_URL
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: petstore-config
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: petstore-config
              key: DB_PORT
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: petstore-config
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: petstore-config
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: petstore-config
              key: DB_PASS
